body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    color:gray;
    background-color: #05243A;
 
  }


.mes{
 
  text-align: center;
  transform: translate(0%, 100%);
  color: white;
  font-style: bold;
  text-decoration: underline;
  background-color: black;
}
a{
  text-decoration: none;
}
h1{
  color: #4A99E0;
  margin: 0; 
  padding: 0; 
  text-align: center; 
  font-size:50px;
}
    img
    {
      width: 30%;
height: 60%;


    }