body{
    margin:0;
    padding:0;
    background-color:#05243A;
}

h1{
    color:white;
    transform: translate(35%,25%);
}

img
    {
width: 30%;
height: 60%;


    }
.watch{
    transform: translate(30%,30%);
    
}


button{
    background-color:white;
    color:black;
    width:5%;
    height: 5%;
    border-radius:20px;
    transform: translate(-730%,200%);

}

button:hover{
    background-color:#B0BBC5;
    color:black;
    transition-duration: 0.5s;
}